@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(#292929, #0e0d0d);
  font-family: "Titillium Web", sans-serif;
  position: relative;
  --white: #ebebeb;
  --pink: #d6157c;
  overflow-x: hidden;

}

header {
  position: absolute;
  width: 1000px;
  left: 50%;
  top: 5%;
  transform: translateX(-50%);
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 100px 100px 100px;
  align-items: center;
  z-index: 7;
  color: var(--white);
}

header h4 {
  font-size: 1.2rem;
  color: var(--pink);
  letter-spacing: 1px;
}

header p {
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 1px;
  transition: 0.3s;
}

p {
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 1px;
  transition: 0.3s;
}

header p:hover {
  color: var(--pink);
  cursor: pointer;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1000px;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  perspective: 1000px;
}

.layer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1000px;
  height: 80%;
  padding: 1em;
  position: relative;
  z-index: 5;
  clip-path: polygon(3% 0, 40% 0%, 40% 100%, 0% 100%);
}

.layer h1 {
  position: absolute;
  top: 50%;
  left: -270px;
  transform: translate(0, -50%);
  font-size: 5rem;
  font-weight: 900;
  color: var(--white);
  text-shadow: 4px 4px 16px rgba(0, 0, 0, 0.3);
  letter-spacing: 5px;
}

.layer h1 span {
  color: var(--pink);
}

.cta {
  position: absolute;
  top: 70%;
  left: 140px;
  transform: translate(-360px, -70%);
  width: 150px;
  height: 50px;
  padding: 0.5em;
  border: 2px solid var(--white);
  color: var(--white);
  display: grid;
  grid-template-columns: 1fr 30px;
  align-items: center;
  transition: background-color 0.3s;
}

.cta:hover {
  cursor: pointer;
  color: var(--pink);
  background-color: var(--white);
}

.cta:hover>svg {
  stroke: var(--pink);
  stroke-width: 2;
}

.cta p {
  text-transform: uppercase;
  font-weight: 400;
}

.cta svg {
  width: 20px;
  height: 20px;
  fill: none;
  stroke: var(--white);
}

.panel {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform-origin: 50% 0;
  transform: translateZ(0) translateX(0) rotateY(0deg);
  position: relative;
}

.panel::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0));
}

.front,
.back {
  width: 100%;
  height: 100%;
  background-image: url("https://media.istockphoto.com/id/1076985060/es/foto/c%C3%B3digo-de-programaci%C3%B3n-tecnolog%C3%ADa-abstracta-fondo-de-desarrollador-de-software-y-comandos-de.jpg?s=1024x1024&w=is&k=20&c=qGDfUGPFkXO6AtwuFkFWhUnWvxeHGBP9FVq6Sd_chU0=");
  background-size: cover;
  background-position: left top;
  position: absolute;
  backface-visibility: hidden;
}

.back {
  transform: scaleX(-1) rotateY(180deg);
}

.panel:nth-child(1) .front {
  background-position: 0 0;
}

.panel:nth-child(2) .front {
  background-position: -250px 0;
}

.panel:nth-child(3) .front {
  background-position: -500px 0;
}

.panel:nth-child(4) .front {
  background-position: -750px 0;
}

.panel:nth-child(1) .back {
  background-position: 250px 0;
}

.panel:nth-child(2) .back {
  background-position: 500px 0;
}

.panel:nth-child(3) .back {
  background-position: 750px 0;
}

.panel:nth-child(4) .back {
  background-position: 1000px 0;
}
/* 
footer {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5%;
  padding: 10px;
  display: grid;
  place-items: center;
  z-index: 6;
}

footer p {
  font-size: 0.8rem;
  color: #979797;
  text-transform: uppercase;
  letter-spacing: 1px;
}

footer a {
  color: var(--pink);
  text-decoration: none;
} */

.replay {
  cursor: pointer;
  width: min-content;
  font-size: 0.8rem;
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 5px;
  transform: translateY(-20px);
}

.content-width {
  width: 86%;
  height: 100vh;
  margin: 0 auto;
}

.slideshow {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.slideshow-items {
  position: relative;
  width: 100%;
  height: 300px;
}

.item {
  position: absolute;
  width: 100%;
  height: auto;
}

.item-image-container {
  position: relative;
  width: 42%;
}

.item-image-container::before {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  width: 101%;
  height: 101%;
  background: #22222A;
  opacity: 0;
  z-index: 1;
}

.item-image {
  position: relative;
  width: 100%;
  height: auto;
  opacity: 0;
  display: block;
  /* transition: property name | duration | timing-function | delay  */
  transition: opacity 0.3s ease-out 0.45s;
}

.item.active .item-image {
  opacity: 1;
}

.item.active .item-image-container::before {
  opacity: 0.8;
}

.item-description {
  position: absolute;
  top: 182px;
  right: 0;
  width: 50%;
  padding-right: 4%;
  line-height: 1.8;
}

.item-header {
  position: absolute;
  top: 150px;
  left: -1.8%;
  z-index: 100;
}

.item-header .vertical-part {
  margin: 0 -4px;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: auto;
  font-size: 4.5vw;
  color: #fff;
}

.vertical-part {
  overflow: hidden;
  display: inline-block;
}

.vertical-part b {
  display: inline-block;
  transform: translateY(100%);
  color: var(--white);
}


.item-header .vertical-part b {
  transition: 0.5s;
}

.item-description .vertical-part b {
  transition: 0.21s;
}

.item.active .item-header .vertical-part b {
  transform: translateY(0);
}

.item.active .item-description .vertical-part b {
  transform: translateY(0);
}

.controls {
  position: relative;
  text-align: right;
  z-index: 1000;
}

.controls ul {
  list-style: none;
}

.controls ul li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 3px;
  background: #d6157c;
  cursor: pointer;
}

.controls ul li.active {
  background: #6a6a77;
}

#make_a_deal {
  background-color: #00000033;
  color: var(--white);
  text-align: center;
  margin-top: 15%;
  
}


#make_a_deal button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 4px;
  border-color: var(--white);
  cursor: pointer;
  background-color: transparent;
  color: var(--white);
}

#make_a_deal button:hover {
  background-color: var(--white);
  color: var(--pink);
}

.carrouselContainer {
  position: relative;
  width: 320px;
  margin: 0 auto 0 auto;
  perspective: 2000px;
}

.carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d; 
  animation: rotate360 60s infinite forwards linear;
}
.carousel__face { 
  position: absolute;
  width: 300px;
  height: 187px;
  top: 20px;
  left: 10px;
  right: 10px;
  background-size: cover;
  box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.5);
  display: flex;
  color: #fefefe;
}

span {
  margin: auto;
  font-size: 2rem;
}


.carousel__face:nth-child(1) {
  background-image: url("https://images.pexels.com/photos/1141853/pexels-photo-1141853.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  transform: rotateY(  0deg) translateZ(430px); }
.carousel__face:nth-child(2) { 
  background-image: url("https://images.pexels.com/photos/1258865/pexels-photo-1258865.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    transform: rotateY( 40deg) translateZ(430px); }
.carousel__face:nth-child(3) {
  background-image: url("https://images.pexels.com/photos/808466/pexels-photo-808466.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  transform: rotateY( 80deg) translateZ(430px); }
.carousel__face:nth-child(4) {
  background-image: url("https://images.pexels.com/photos/1394841/pexels-photo-1394841.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  transform: rotateY(120deg) translateZ(430px); }
.carousel__face:nth-child(5) { 
  background-image: url("https://images.pexels.com/photos/969679/pexels-photo-969679.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
 transform: rotateY(160deg) translateZ(430px); }
.carousel__face:nth-child(6) { 
  background-image: url("https://images.pexels.com/photos/1834400/pexels-photo-1834400.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
 transform: rotateY(200deg) translateZ(430px); }
.carousel__face:nth-child(7) { 
  background-image: url("https://images.pexels.com/photos/1415268/pexels-photo-1415268.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
 transform: rotateY(240deg) translateZ(430px); }
.carousel__face:nth-child(8) {
  background-image: url("https://images.pexels.com/photos/135018/pexels-photo-135018.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  transform: rotateY(280deg) translateZ(430px); }
.carousel__face:nth-child(9) {
  background-image: url("https://images.pexels.com/photos/1175135/pexels-photo-1175135.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  transform: rotateY(320deg) translateZ(430px); }

@keyframes rotate360 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

.gallery {
	display: flex;
	padding: 2px;
	transition: 0.3s;
}

.gallery:hover .gallery__image {
	filter: grayscale(1);
}

.gallery__column {
	display: flex;
	flex-direction: column;
	width: 25%;
}

.gallery__link {
	margin: 2px;
	overflow: hidden;
}

.gallery__link:hover .gallery__image {
	filter: grayscale(0);
}

.gallery__link:hover .gallery__caption {
	opacity: 1;
}

.gallery__thumb {
	position: relative;
}

.gallery__image {
	display: block;
	width: 100%;
	transition: 0.3s;
}

.gallery__image:hover {
	transform: scale(1.1);
}

.gallery__caption {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 25px 15px 15px;
	width: 100%;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	color: #d6157c;
	opacity: 0;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255 ,255 , 0) 100%);
	transition: 0.3s;
}

@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
.snip1574 {
  font-family: 'Lato', Arial, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px;
  min-width: 250px;
  max-width: 310px;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.snip1574 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.snip1574 img {
  max-width: 100%;
  vertical-align: top;
  opacity: 0.7;
}

.snip1574 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 80px 10% 15%;
}

.snip1574 figcaption:before {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 170px;
  opacity: 0.35;
  font-style: normal;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 0px;
  left: 50%;
}

.snip1574 blockquote {
  padding: 0;
  margin: 0;
  font-style: italic;
  font-size: 1.2em;
}

.snip1574 h3 {
  font-family: 'Oswald';
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 3px 0;
}

.snip1574 h5 {
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  color: #d6157c;
  letter-spacing: 1px;
}

.footer {
  background-color: #00000033;
  padding: 30px 0;
  margin-top: 10%;
}

.container2 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-column {
  flex-basis: 30%;
  margin-bottom: 30px;
}

.footer-column h1 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #d6157c;
}

.footer-column p {
  color: #abababbd;
} 

.social-icons a {
  color: #888;
  margin-right: 10px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #555;
}

.footer-bottom {
  margin-top: 30px;
  text-align: center;
}

.footer-bottom p {
  color: #ffffff;
  font-size: 14px;
  margin: 0;
}



/**************************************************TECH LEAD DEVELOPMENT********************************************/

/*Hide element*/
#hide {
  display: none;
}

/*SlideShow text*/
.vertical-part p {
  display: inline-block;
  color: var(--white);
}


/*Make it aligned with the first image animation*/
.text-indented {
  display: flex;
  justify-content: center;
  margin-top: 7%;
  color: var(--white);
}


.center-testimonials-block {
  display: flex;
  justify-content: center;
}